body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
}

h1 {
    margin: 32px;
    font-size: 72px;
}

.chart-containerX {
    margin: 0 auto;
    height: 15vh;
    width: 80vw;
}

.chart-containerY {
    margin: 0 auto;
    height: 15vh;
    width: 80vw;
}

.chart-containerZ {
    margin: 0 auto;
    height: 15vh;
    width: 80vw;
}

.floating-logo {
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 200px;
    height: auto;
    z-index: 1000;
}


/* Tiled view with flexbox */
.machines {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    margin: 32px;
    justify-content: center;
}

.machine {
    border: 1px solid #ddd;
    padding: 32px;
    border-radius: 8px;
    width: 200px;
    text-align: center;
}

.machine {
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.machine.active {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #07a889 0px 0px 0px 3px;
}

.chart-placeholder {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    color: gray;
}

.machine h2 {
    margin: 0;
    text-align: center;
}

.machine img {
    width: 100%;
    margin-top: 12px;
    margin-bottom: 8px;
}

/* Pill shape for the status */
.status-pill {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 25px;
    color: #fff;
    font-weight: bold;
    width: 150px;
}

.maintenance h2 {
    opacity: 0.5;
}

.maintenance img {
    opacity: 0.5;
}

.maintenance {
    border-color: #DD3736;
    border-width: 2px;
}

.inspection h2 {
    opacity: 0.75;
}

.inspection img {
    opacity: 0.75;
}

.inspection {
    border-color: #FBC02D;
}